#mainRow {
    padding-top: 11px;
    padding-left: 66px;
    padding-right: 0px;
    padding-bottom: 11px;
}

#iframePlayer {
    width: 100%;
    height: 530px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

#searchAnimeForm {
    width: 100%;
    padding-right: 5%;
    padding-bottom: 5%;
}

#searchAnimeFieldAddon {
    width: 95%;
}

#searchAnimeField {
    width: 95%;
}

#selectAnimeNavbar {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 350px;
}

#animeNameButton {
    width: 100%;
    max-width: 150px;
}

#currentEpisodeButton {
    width: 100%;
    max-width: 100px;
}

#episodeSelectButton {
    width: 100%;
    color: black;
}

#episodeSelectButton:hover {
    background: yellow;
}