<app-navbar></app-navbar>

<div class="container-fluid text-bg-secondary d-flex flex-column" role="main">
  <div id="mainRow" class="row">
    <div class="col-9 badge embed-responsive embed-responsive-16by9">
      <app-player></app-player>
    </div>
    <div class="col-3 badge text-center">
      <div class="container-fluid">
        <div class="row">
          <app-search></app-search>
        </div>
        <div *ngIf="miku_angry == false" class="container-fluid text-center text-bg-success bg-gradient rounded">
          <div class="row">
            <nav class="navbar navbar">
              <div class="container-fluid">
                <app-current-episode></app-current-episode>
              </div>
            </nav>
            <app-select-anime></app-select-anime>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>