<app-navbar></app-navbar>

<div class="container-fluid text-bg-secondary d-flex flex-column" role="main" (window:keyup.e)="selectNextEpisode()">
  <div id="mainRow" class="row">
    <div class="col-9 badge bg-dark embed-responsive embed-responsive-16by9">
      <div>
        <iframe class="embed-responsive-item min-vh-100 player" allowfullscreen [src]="src|p: 'resourceUrl'"></iframe>
        <div *ngIf="angry_miku === true" class="errorText">
          <h1>
            <span class="text-capitalize">
              {{animeName}}
            </span>
            was not found...
          </h1>
        </div>
      </div>
      <!--<div (click)="selectNextEpisode()">
          <button id="" class="btn btn-light badge fs-6 text-uppercase" type="button">
            Next Episode
          </button>
        </div>-->

    </div>
    <div class="col-3 badge text-center">
      <div class="container-fluid">
        <div class="row">
          <form>
            <div id="searchAnimeForm" class="input-group">
              <span id="searchAnimeFieldAddon" class="input-group-text">
                <input type="image" src="assets/img/search.svg" value="Search" (click)="onSubmitButtonClick()">
                <input id="searchAnimeField" type="search" placeholder="Search Anime"
                  aria-label="Search Anime Field Addon" aria-describedby="searchAnimeFieldAddon"
                  [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" maxlength="23">
              </span>
            </div>
          </form>
        </div>
        <div class="container-fluid text-center text-bg-success">
          <div class="row">
            <nav class="navbar navbar">
              <div class="container-fluid">
                <div class="btn-group" role="group" aria-label="Anime Selection Button Group">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#selectAnimeNavbar" aria-controls="selectAnimeNavbar" aria-expanded="false"
                    aria-label="Toggle Anime Selection">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <button class="btn badge text-bg-secondary searchQueryButton" type="button">
                    <span class="text-capitalize text-wrap"> {{animeName}} </span>
                  </button>
                  <button id="currentEpisodeButton" class="btn badge text-bg-dark" type="button">
                    <span> Episode:{{currentEpisode}} </span>
                  </button>
                  <div hidden>
                    <button class="btn text-bg-dark text-center" type="button">
                      <span> Provider:<br> # {{providerNumber}} </span>
                    </button>
                  </div>
                </div>
              </div>
            </nav>
            <div id="selectAnimeNavbar" class="collapse">
              <div class="d-flex flex-column episodeContainer">
                <div class="d-grid gap-2">
                  <div *ngFor="let item of episodeNumbers;let i = index" (click)="selectEpisode(i)">
                    <button class="btn btn-light badge fs-6 text-uppercase episodeSelectButton" type="button">
                      Episode {{i + 1}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>