<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand">AnimeWatcher</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar"
      aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      Menu
    </button>
    <div id="topNavbar" class="collapse navbar-collapse">
      <ul class="navbar-nav gap-2 ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item active">
          <button class="badge rounded-pill text-bg-light text-center">
            <a class="nav-link" href="https://github.com/VoiciehBy/AnimeWatcher" target="_blank">
              <span><i class="bi bi-github object-fit-fill fs-6"></i></span>
              AnimeWatcher
            </a>
          </button>
        </li>
        <li class="nav-item active">
          <button class="badge rounded-pill text-bg-light text-center">
            <a class="nav-link" href="https://www.crunchyroll.com/videos/anime" target="_blank">
              <span><img alt="CRUNCHYROLL_LOGO" src="assets/img/Crunchyroll_Logo.svg" width="16" height="16">
              </span>
              Crunchyroll
            </a>
          </button>
        </li>
        <li class="nav-item active">
          <button class="badge rounded-pill text-bg-light text-center">
            <a class="nav-link" href="https://kissanime.org.ru/AnimeListOnline" target="_blank">
              <span><img alt="HAYATE_MIKU" src="assets/img/Hayate_Miku.png" width="16" height="16">
              </span>
              KissAnime
            </a>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content" role="main">
  <div class="container-fluid text-bg-secondary">
    <div id="mainRow" class="row">
      <div class="col-9 badge bg-dark embed-responsive embed-responsive-16by9">
        <div>
          <iframe id="iframePlayer" class="embed-responsive-item" allowfullscreen></iframe>
        </div>
        <!--
          <div (click)="selectNextEpisode()">
          <button id="" class="btn btn-light badge fs-6 text-uppercase" type="button">
            Next Episode
          </button>
        </div>
      -->
      </div>
      <div class="col-3 badge text-center">
        <div class="container-fluid">
          <div class="row">
            <form>
              <div id="searchAnimeForm" class="input-group">
                <span id="searchAnimeFieldAddon" class="input-group-text">
                  <input type="image" src="assets/img/search.svg" value="Search" (click)="onSubmitButtonClick()">
                  <input id="searchAnimeField" type="search" placeholder="Search Anime"
                    aria-label="Search Anime Field Addon" aria-describedby="searchAnimeFieldAddon"
                    [(ngModel)]="animeName" [ngModelOptions]="{standalone: true}" maxlength="23">
                </span>
              </div>
            </form>
          </div>
          <div class="container-fluid text-center text-bg-success">
            <div class="row">
              <nav class="navbar navbar">
                <div class="container-fluid">
                  <div class="btn-group" role="group" aria-label="Anime Selection Button Group">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#selectAnimeNavbar" aria-controls="selectAnimeNavbar" aria-expanded="false"
                      aria-label="Toggle Anime Selection">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <button id="animeNameButton" class="btn badge text-bg-secondary" type="button">
                      <span class="text-capitalize text-wrap"> {{animeName}} </span>
                    </button>
                    <button id="currentEpisodeButton" class="btn badge text-bg-dark" type="button">
                      <span> Episode:{{currentEpisode}} </span>
                    </button>
                    <div hidden>
                      <button class="btn text-bg-dark text-center" type="button">
                        <span> Provider:<br> # {{providerNumber}} </span>
                      </button>
                    </div>
                  </div>
                </div>
              </nav>
              <div id="selectAnimeNavbar" class="collapse">
                <div class="container-fluid">
                  <div class="row"></div>
                  <div class="row">
                    <div class="d-grid gap-2 mx-auto">
                      <div *ngFor="let item of episodeNumbers;let i = index" (click)="selectEpisode(i)">
                        <button id="episodeSelectButton" class="btn btn-light badge fs-6 text-uppercase" type="button">
                          Episode {{i + 1}}
                        </button>
                      </div>
                      <div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container-fluid text-bg-secondary">
        <div class="row text-left text-bg-info"> Assets used: </div>
        <div class="row text-bg-info">
          <div class="col">
            <a href="https://www.iconfinder.com/icons/7663483/social_video_crunchyroll_icon" target="_blank">
              Crunchyroll Logo</a>
          </div>
          <div class="col">
            <a href="https://www.pngaaa.com/detail/1810332" target="_blank">
              KissAnime Sticker</a>
          </div>
          <div class="col">
            <a href="https://www.pngaaa.com/detail/4817376" target="_blank">
              App Icon</a>
          </div>
        </div>
      </div>
    </footer>