<div class="btn-group" role="group" aria-label="Anime Selection Button Group">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#selectAnimeNavbar"
    aria-controls="selectAnimeNavbar" aria-expanded="false" aria-label="Toggle Anime Selection">
    <span class="navbar-toggler-icon"></span>
  </button>
  <button class="btn badge text-bg-secondary searchQueryButton" type="button">
    <div *ngIf="miku_angry == true;else elseBlock">
      <span class="text-capitalize text-wrap"> {{searchQuery}} </span>
    </div>
    <ng-template #elseBlock>
      <span class="text-capitalize text-wrap"> {{showName}} </span>
    </ng-template>
  </button>
  <button id="currentEpisodeButton" class="btn badge text-bg-dark" type="button">
    <span> Episode:{{current}}/{{total}} </span>
  </button>
</div>